#nav, a {
    
    text-align: center;
    font-family: avenir;
    color:coral;
    background-color: white;
    font-size: 30px;
    text-decoration: none;
    }



h1{
    text-align: center;
    font-family: avenir;
    color: coral;
    font-size: 50px;
}


h2{
    text-align: center;
    font-family: triforce;
    font-size: 25px;
    color: grey;
}


#zeldaDownText, a {
    
    
    font-size: 12px;
    
}


