#nav, a {
    
    text-align: center;
    font-family: avenir;
    color:coral;
    background-color: white;
    font-size: 30px;
    text-decoration: none;
    }



h1{
    text-align: center;
    font-family: avenir;
    color: coral;
    font-size: 50px;
}


h2{
    text-align: center;
    font-family: triforce;
    font-size: 25px;
    color: grey;
}


#zeldaDownText{
    
    
    font-size: 12px;
    
}


h3 {
    text-align: center;
    font-family: arial;
    color:coral;
    font-size: 30px;
}



#thank {
    
    font-family:arial;
    font-size: 20px;
    color:darkcyan;
    
}


